<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head::header( '导师' )">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--上层-->
    <!--上层-->
    <header th:replace="tutor/comm/header::header"></header>

    <!--中层-->
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->

        <!--菜单栏-->
        <section class="sidebar">


            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">菜单</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>公告</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/tutor/editNotice}"><i class="fa fa-circle-o"></i>查看公告栏（更新、删除） </a></li>
                        <li><a th:href="@{/tutor/inNotice}"><i class="fa fa-circle-o"></i>发表公告</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-commenting"></i> <span >问题交流</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/problem/problemTutList}"><i class="fa fa-circle-o"></i>问题列表</a></li>
                        <li><a th:href="@{/problem/myTutProblem}"><i class="fa fa-circle-o"></i>我的问题</a></li>
                        <li><a th:href="@{/problem/tutMyReply}"><i class="fa fa-circle-o"></i>参与讨论</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>项目管理</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/project/projectList}"><i class="fa fa-circle-o"></i>项目库展示</a></li>
                        <li><a th:href="@{/tutor/studentList}"><i class="fa fa-circle-o"></i>项目分组</a></li>
                        <li><a th:href="@{/task/taskList}"><i class="fa fa-circle-o"></i>项目任务表</a></li>
                        <li><a th:href="@{/tutor/team}"><i class="fa fa-circle-o"></i>项目小组</a></li>
                        <li><a th:href="@{/task/taskFile}"><i class="fa fa-circle-o"></i>文件查看、下载</a></li>
                        <li><a th:href="@{/tutor/stuScore}"><i class="fa fa-circle-o"></i>评分</a></li>

                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>学生管理</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/tutor/stuList}"><i class="fa fa-circle-o"></i>查看学生信息</a></li>

                    </ul>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>设置</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/tutor/tutorInfo}"><i class="fa fa-circle-o"></i>个人信息</a></li>
                        <li class="active"><a th:href="@{/tutor/editPassword}"><i class="fa fa-circle-o"></i>修改密码</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>


    <!--  Context-->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">修改密码</div>
                            <div class="layui-card-body" pad15>

                                <div class="layui-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" style="width:100px;">当前密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" id="oldPasswordId" name="oldPassword"
                                                   class="layui-input">
                                        </div>
                                        <div class="layui-form-mid" style="color:#F00 ; display: none" id="errPassword">
                                            原密码不正确
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" style="width:100px;">新密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="newPassword"
                                                   class="layui-input" id="newPasswordId"
                                                   onKeyUp="value=value.replace(/[\W]/g,'')"
                                                   maxlength="16">
                                        </div>
                                        <div id="fontSizeId" class="layui-form-mid " style="color: red;display: none">
                                            请至少输入6位数
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">[只能输入数字和字母组合6-16位]</div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label" style="width:100px;">确认新密码</label>
                                        <div class="layui-input-inline">
                                            <input type="password" name="reNewPassword" id="reNewPasswordId"
                                                   class="layui-input"
                                                   onKeyUp="value=value.replace(/[\W]/g,'')"
                                                   maxlength="16">
                                        </div>
                                        <div id="isPasswordId" class="layui-form-mid " style="color: red;display: none">
                                            两次密码不一致
                                        </div>
                                    </div>


                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" id="updatePasswordId">确认修改</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="commons/foot::foot"></footer>

</div>

<!-- page script -->
<!-- page script -->
<script th:inline="javascript">
    $("#oldPasswordId").blur(function () {  //离开文本框后判断
        var password = $("#oldPasswordId").val();
        var oldPassword = [[${session.tutor.tutorPassword}]];
        if (password !== oldPassword) {
            $("#errPassword").show();
        } else {
            $("#errPassword").hide();
        }
    });
    $("#newPasswordId").blur(function () {
        var newPassword = $("input[name=newPassword]").val();
        if (newPassword.length < 6) {
            $("#fontSizeId").show();
        } else {
            $("#fontSizeId").hide();
        }
    })
    $("#reNewPasswordId").blur(function () {
        var newPassword = $("input[name=newPassword]").val();
        var reNewPassword = $("input[name=reNewPassword]").val();
        if (newPassword !== reNewPassword) {
            $("#isPasswordId").show();
        } else {
            $("#isPasswordId").hide();
        }

    })
    $(function () {
        $("#updatePasswordId").click(function () {
            var password = $("#oldPasswordId").val();
            var oldPassword = [[${session.tutor.tutorPassword}]];
            var newPassword = $("input[name=newPassword]").val();
            var reNewPassword = $("input[name=reNewPassword]").val();
            if (password == oldPassword && newPassword.length >= 6 && newPassword == reNewPassword) {
                $.ajax({
                    type: "POST",
                    url: '/tutor/updateTutorPassword',
                    dataType: 'json',
                    data: {"newPassword": newPassword},
                    success: function (msg) {
                        if (msg["success"]) {
                            layer.msg('修改成功', {time: 300}, function () {
                                layer.confirm('下次登录有效,是否重新登录?', function(){
                                    window.location.href="http://132.232.239.128:8080";
                                    layer.closeAll();
                                });

                            });
                        }
                    },
                    error: function () {
                        alert("出错")
                    }
                })

            }

        })
    })


</script>
</body>
</html>
