<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhg.dao.ClazzMapper" >
  <resultMap id="BaseResultMap" type="com.qhg.model.Clazz" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="clazz_name" property="clazzName" jdbcType="VARCHAR" />
    <result column="clazz_creatTime" property="clazzCreattime" jdbcType="VARCHAR" />
    <result column="clazz_num" property="clazzNum" jdbcType="INTEGER" />
    <result column="clazz_remake" property="clazzRemake" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clazz_name, clazz_creatTime, clazz_num, clazz_remake
  </sql>
  <!--自己配置 插整个表-->
  <select id="selectAllClazz" resultMap="BaseResultMap" >
    select * from clazz;
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qhg.model.ClazzExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from clazz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from clazz
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from clazz
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qhg.model.ClazzExample" >
    delete from clazz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qhg.model.Clazz" >
    insert into clazz (id, clazz_name, clazz_creatTime, 
      clazz_num, clazz_remake)
    values (#{id,jdbcType=VARCHAR}, #{clazzName,jdbcType=VARCHAR}, #{clazzCreattime,jdbcType=VARCHAR}, 
      #{clazzNum,jdbcType=INTEGER}, #{clazzRemake,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qhg.model.Clazz" >
    insert into clazz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clazzName != null" >
        clazz_name,
      </if>
      <if test="clazzCreattime != null" >
        clazz_creatTime,
      </if>
      <if test="clazzNum != null" >
        clazz_num,
      </if>
      <if test="clazzRemake != null" >
        clazz_remake,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="clazzName != null" >
        #{clazzName,jdbcType=VARCHAR},
      </if>
      <if test="clazzCreattime != null" >
        #{clazzCreattime,jdbcType=VARCHAR},
      </if>
      <if test="clazzNum != null" >
        #{clazzNum,jdbcType=INTEGER},
      </if>
      <if test="clazzRemake != null" >
        #{clazzRemake,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qhg.model.ClazzExample" resultType="java.lang.Integer" >
    select count(*) from clazz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clazz
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.clazzName != null" >
        clazz_name = #{record.clazzName,jdbcType=VARCHAR},
      </if>
      <if test="record.clazzCreattime != null" >
        clazz_creatTime = #{record.clazzCreattime,jdbcType=VARCHAR},
      </if>
      <if test="record.clazzNum != null" >
        clazz_num = #{record.clazzNum,jdbcType=INTEGER},
      </if>
      <if test="record.clazzRemake != null" >
        clazz_remake = #{record.clazzRemake,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clazz
    set id = #{record.id,jdbcType=VARCHAR},
      clazz_name = #{record.clazzName,jdbcType=VARCHAR},
      clazz_creatTime = #{record.clazzCreattime,jdbcType=VARCHAR},
      clazz_num = #{record.clazzNum,jdbcType=INTEGER},
      clazz_remake = #{record.clazzRemake,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhg.model.Clazz" >
    update clazz
    <set >
      <if test="clazzName != null" >
        clazz_name = #{clazzName,jdbcType=VARCHAR},
      </if>
      <if test="clazzCreattime != null" >
        clazz_creatTime = #{clazzCreattime,jdbcType=VARCHAR},
      </if>
      <if test="clazzNum != null" >
        clazz_num = #{clazzNum,jdbcType=INTEGER},
      </if>
      <if test="clazzRemake != null" >
        clazz_remake = #{clazzRemake,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhg.model.Clazz" >
    update clazz
    set clazz_name = #{clazzName,jdbcType=VARCHAR},
      clazz_creatTime = #{clazzCreattime,jdbcType=VARCHAR},
      clazz_num = #{clazzNum,jdbcType=INTEGER},
      clazz_remake = #{clazzRemake,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>