<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="commons/head::header( '学生' )">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!--上层-->
  <header th:replace="student/comm/header::header">


  </header>
  <!--中层-->
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->

    <!--菜单栏-->
    <section class="sidebar">


      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">菜单</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>公告</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/student/notices}"><i class="fa fa-circle-o"></i>查看公告栏</a></li>

          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-commenting"></i>
            <span>信息交流</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/problem/problemList}"><i class="fa fa-circle-o"></i>问题列表</a></li>
            <li><a th:href="@{/problem/myProblem}"><i class="fa fa-circle-o"></i>我的问题</a></li>
            <li><a th:href="@{/problem/stuMyReply}"><i class="fa fa-circle-o"></i>参与讨论</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>项目管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a  th:href="@{/student/stuProject}"><i class="fa fa-circle-o"></i>项目库</a></li>
            <li><a th:href="@{/student/stuTeamInfo}"><i class="fa fa-circle-o"></i>项目小组信息</a></li>
            <li><a th:href="@{/student/stuTeam}"><i class="fa fa-circle-o"></i>成员信息</a></li>
            <li><a th:href="@{/task/stuTaskList}"><i class="fa fa-circle-o"></i>任务、文件上传</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i>
            <span>导师</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li><a th:href="@{/student/selectTutor}"><i class="fa fa-circle-o"></i>选择导师</a></li>
          </ul>
        </li>

        <li class="treeview active" >
          <a href="#">
            <i class="fa  fa-gear"></i>
            <span>设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a th:href="@{/student/stuInfo}"><i class="fa fa-circle-o"></i>个人信息</a></li>
            <li><a th:href="@{/student/stuPassword}"><i class="fa fa-circle-o"></i>修改密码</a></li>
          </ul>
        </li>



      </ul>
    </section>
  </aside>







  <!--  Context-->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">

      <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">设置我的资料</div>
              <div class="layui-card-body" >

                <form class="layui-form"  id="formId">
                  <div class="layui-form-item">
                  <label class="layui-form-label">头像</label>
                  <div class="layui-img-block">
                  <img src="/static/dist/img/log.jpg" class="img-circle" alt="User Image">
                </div>
                </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-form-mid layui-word-aux">学生</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="stuName" th:value="${session.student.stuName}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">不可修改</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-inline">
                      <input type="text" name="stuAge" th:value="${session.student.stuAge}" class="layui-input"
                             oninput = "value=value.replace(/[^\d]/g,'')" maxlength="2">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                      <input type="text" name="stuAge" th:value="${session.student.stuSex}" readonly class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">不可修改</div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                      <input type="text" maxlength="11" oninput = "value=value.replace(/[^\d]/g,'')"
                             name="stuIphone" th:value="${session.student.stuIphone}" class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">大学</label>
                    <div class="layui-input-inline">
                      <input type="text" name="stuCollage" th:value="${session.student.stuCollage}"  class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">专业</label>
                    <div class="layui-input-inline">
                      <input type="text" name="stuSpecialty" th:value="${session.student.stuSpecialty}"  class="layui-input">
                    </div>
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline" style="height: 100px;width: 1000px;">
                      <textarea name="stuRemake"  th:text="${session.student.stuRemake}" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn"type="button" id="updateStu">确认修改</button>
                      <button type="reset" class="layui-btn layui-btn-primary"  >重新填写</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>


    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="commons/foot::foot"></footer>
</div>

<!-- page script -->
<script>
  $(function () {
      $("#updateStu").click(function () {
          // layer.confirm('is not?', {icon: 3, title:'提示'}, function(){
          //     alert("sd")
          //     //do something
          //     layer.closeAll();
          // });
          layui.use('layer', function(){
              var layer = layui.layer;
              layer.confirm('确定修改?', {icon: 3, title:'提示'}, function(){
                  //do something
                  $.ajax({
                      type: "POST",
                      url: "/student/updateStuInfo",
                      data: $("#formId").serialize(),
                      dataType:'json',
                      success: function(msg){
                          if(msg["success"]){
                              layer.msg('修改成功', {time: 300}, function () {
                                  layer.confirm('下次登录有效,是否重新登录?', function(){
                                      window.location.href="http://132.232.239.128:8080";
                                      layer.closeAll();
                                  });
                              });
                          }
                      },
                      error:function () {
                          alert("错误")
                      }
                  });

              });

          });
      });


  })

</script>
</body>
</html>
